*.o
*.ko
*.mod
*.mod.c
*.order
*.symvers
Module.symvers
modules.order
.tmp_versions/
..module-common.o.cmd
.gitignore
.modules.order.cmd
.Module.symvers.cmd
.pet.ko.cmd
.pet.mod.cmd
.gitignore
.pet.o.cmd
.pet.mod.o.cmd
packages.microsoft.gpg
.pet_device.o.cmd
.gitignore
.pet_log.o.cmd
.pet_main.o.cmd
.gitignore
.pet_state.o.cmd
.pet_proc.o.cmd
